{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}
{% block content %}
<div class="container">
  <h1>Present in {{ ver2 }} but not {{ ver1 }}
    {% if path %}<small>(filtering on {{ path }})</small>
    {%- endif -%}</h1>
    <ul class="list-group">
      {% for file in files -%}
      <li class="list-group-item">{{ file }}</li>
      {% endfor -%}
    </ul>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
{{google.uanalytics('UA-123963801-1')}}
{% endblock %}
    
