{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}
{% block content %}
    <form action="{{ url_for('compare_versions') }}" method="POST">
      Select versions to compare:<br/>
    <select name="ver1">
      {% for v in versions %}
      <option value="{{ v }}">{{ v }}</option>
      {% endfor %}
    </select><br/>
    <select name="ver2">
      {% for v in versions %}
      <option value="{{ v }}">{{ v }}</option>
      {% endfor %}
    </select><br/>
    (Optional) Enter a path to filter by e.g. /usr/sbin:
    <input type="text" name="path"><br/>
    <button type="submit">Compare</button>
    </form>
{% endblock %}
{% block scripts %}
  {{super()}}
  {{google.uanalytics('UA-123963801-1')}}
{% endblock %}

