<!doctype html>
<html>
  <body>
    <form action="{{ url_for('compare_versions') }}" method="POST">
      Select versions to compare:<br/>
    <select name="ver1">
      {% for v in versions %}
      <option value="{{ v }}">{{ v }}</option>
      {% endfor %}
    </select><br/>
    <select name="ver2">
      {% for v in versions %}
      <option value="{{ v }}">{{ v }}</option>
      {% endfor %}
    </select><br/>
    <input type="text" name="path"><br/>
    <button type="submit">Compare</button>
    </form>
  </body>
</html>

